---
import Link from "../../link/index.astro";
import Pill from "../../pill/index.astro";

export interface Props {
  name: string;
  preview?: string;
  github: string;
  highlights: string[];
  techStack: string[];
}
const { name, preview, github, highlights, techStack } = Astro.props;
---

<div class="flex flex-col gap-2">
  <h3 class="font-bold text-white">{name}</h3>
  <ul class="list-outside list-disc">
    {
      highlights.map((highlight: string) => (
        <li class="ml-5 text-sm text-zinc-400">{highlight}</li>
      ))
    }
  </ul>
  <div class="flex gap-2">
    <Link
      iconName="ArrowUpRight"
      iconPosition={"postfix"}
      title={"GitHub"}
      className={`w-fit cursor-pointer text-white transition-all duration-300`}
      iconStrokeWidth={2}
      target="_blank"
      iconSize={20}
      href={github}
    />
    {
      preview && (
        <Link
          iconName="ArrowUpRight"
          iconPosition={"postfix"}
          title={"Preview"}
          className={`w-fit cursor-pointer text-white transition-all duration-300`}
          iconStrokeWidth={2}
          target="_blank"
          iconSize={20}
          href={preview}
        />
      )
    }
  </div>
  <h4 class="font-bold text-white">TechStack</h4>
  <div class="flex flex-wrap gap-1">
    {
      techStack.map((tech: string) => (
        <Pill>
          <code class="text-sm text-zinc-400">{tech}</code>
        </Pill>
      ))
    }
  </div>
</div>
