---
import Card from '../../../components/card/index.astro';
import Link from '../../../components/link/index.astro';
import { CONTACTS } from '../../../constants';
import type { ContactProps } from '../../../utils/types';
---

<Card className="flex flex-col gap-3 p-6">
  <h2 class="font-sans text-lg font-semibold text-white md:text-2xl">
    Come and say hi!
  </h2>
  <div class="grid grid-cols-1 gap-3 sm:grid-cols-2">
    {
      CONTACTS.map((contact: ContactProps) => (
        <Link
          iconName={contact.iconName}
          iconPosition={'prefix'}
          title={contact.title}
          className={`w-full cursor-pointer text-white transition-all duration-300 ${contact.hoverColor} px-5 py-4`}
          iconStrokeWidth={2}
          target="_blank"
          iconSize={20}
          href={contact.href}
          isFullWidth={true}
        />
      ))
    }
  </div>
</Card>
