---
import Card from '../../../components/card/index.astro';
import Body from '../atoms/body.astro';
import Job from '../../../components/resume/atoms/job.astro';
import { JOBS } from '../../../constants';
import type { JobProps, ResponsibilityProps } from '../../../utils/types';
import Divider from '../../../components/divider/index.astro';
---

<Card className="flex flex-col gap-3 p-6">
  <h2 class="font-sans text-lg font-semibold text-white md:text-2xl">
    Experience
  </h2>
  {
    JOBS.map((job: JobProps, index: number) => (
      <div>
        <Job
          companyHref={job.website}
          companyName={job.company}
          role={job.role}
          linkHoverColor={job.linkHoverColor}
          duration={job.duration}
        >
          {job.description.overview && (
            <Body content={job.description?.overview} />
          )}
          {job.description.responsibilities.map(
            (responsibility: ResponsibilityProps) => (
              <div>
                {responsibility?.title && (
                  <Body
                    content={responsibility.title}
                    className="font-bold text-sm"
                  />
                )}
                <ul class="list-outside list-disc">
                  {responsibility.highlights.map((highlight: string) => (
                    <li class="ml-5 text-sm text-zinc-400">{highlight}</li>
                  ))}
                </ul>
              </div>
            )
          )}
        </Job>
        {index + 1 !== JOBS.length && (
          <Divider className="mt-6 mb-3 h-[2px] w-full" />
        )}
      </div>
    ))
  }
</Card>
