---
import Card from '../../../components/card/index.astro';
import { PROJECTS } from '../../../constants';
import Divider from '../../divider/index.astro';
import Project from '../../../components/resume/atoms/project.astro';
---

<Card className="flex flex-col gap-3 p-6">
  <h2 class="font-sans text-lg font-semibold text-white md:text-2xl">
    Projects
  </h2>
  {
    PROJECTS.map((project, index: number) => (
      <div>
        <Project
          name={project.name}
          preview={project.preview}
          github={project.github}
          highlights={project.highlights}
          techStack={project.techStack}
        />

        {index + 1 !== PROJECTS.length && (
          <Divider className="mt-6 mb-3 h-[2px] w-full" />
        )}
      </div>
    ))
  }
</Card>
