---
import TAC from './companies/tac.astro';
import { COMPANY_PATHS } from '../../constants';
import Solstice from './companies/solstice.astro';
import MakeaWish from './companies/make-a-wish.astro';
import Amplar from './companies/amplar.astro';
import Nandos from './companies/nandos.astro';
import Inlight from './companies/inlight.astro';
import Swinburne from './companies/swinburne.astro';
import Whitefox from './companies/whitefox.astro';
---

<div
  class="container relative m-auto flex h-screen w-screen flex-col items-center justify-center px-6 md:px-0"
>
  <h2 class="mb-8 font-sans text-xl font-semibold text-white md:text-4xl">
    You might have come across me or my work on...
  </h2>
  <div
    class="grid grid-cols-2 justify-items-center gap-8 md:grid-cols-3 md:gap-4"
  >
    <a href={COMPANY_PATHS.tac} target="_blank">
      <TAC className="h-12 w-auto fill-white md:h-16" />
    </a>
    <a href={COMPANY_PATHS.solstice} target="_blank">
      <Solstice className="h-12 w-auto fill-[#9646ff] md:h-16" />
    </a>
    <a href={COMPANY_PATHS.makeawish} target="_blank">
      <MakeaWish className="h-12 w-auto fill-[#0055b7] md:h-16" />
    </a>
    <a href={COMPANY_PATHS.vicinity} target="_blank">
      <img
        src={'./company/vicinity.png'}
        alt="vicinity"
        class="h-12 w-auto md:h-16"
      />
    </a>
    <a href={COMPANY_PATHS.amplar} target="_blank">
      <Amplar className="h-12 w-auto md:h-16" />
    </a>
    <a href={COMPANY_PATHS.nandos} target="_blank">
      <Nandos className="h-12 w-auto md:h-16" />
    </a>
    <a href={COMPANY_PATHS.inlight} target="_blank">
      <Inlight className="h-12 w-auto md:h-16" />
    </a>
    <a href={COMPANY_PATHS.whitefox} target="_blank">
      <Whitefox className="h-12 w-full md:h-16" />
    </a>
    <a href={COMPANY_PATHS['my-little-tag']} target="_blank">
      <img
        src={'./company/my-little-tag.png'}
        alt="my-little-tag"
        class="h-12 w-auto md:h-16"
      />
    </a>
    <a href={COMPANY_PATHS.swinburne} target="_blank">
      <Swinburne className="h-12 w-auto md:h-16" />
    </a>
  </div>
</div>
